body
{
    margin:10px 10px 10px 10px;
    font-family: 'Poppins', sans-serif;
    background-color:hsl(222, 25%, 10%);
    -webkit-font-smoothing:antialiased;
}

header
{
    margin-bottom: 30px;
    border-radius: 50px;
    border: 2px solid #FFF;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


.contents
{
    color: #FAF9F6	;
}

.contents .title
{
    padding: 0;
    margin: 0;
    font-size: 50px;
}

.contents .year
{
    padding: 0;
    margin: 0;
}


.crew-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 50px;
    margin-top: 20px;
}

.crew-card
{
    padding: 5px 5px 5px 5px;
}

.crew-card p
{
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    padding: 0;
    word-wrap:break-word;
}

.crew-card img
{
    display: block;
    width: 150px;
    height: 200px;
    object-fit: initial;
}


@media only screen and (max-width: 780px) 
{
    iframe
    {
        width: 100%;
    }
}